.about{
    text-align: center;
    padding-top: 30px;
    background: rgb(168, 154, 136);
}
.about:after{
    display: inherit;
    background: inherit;
    height: 150px;
    z-index: -1;
    content: '';
    transform-origin: top left;
    transform: skewY(4deg);
}