/*about */
.about{
    text-align: center;
    padding-top: 30px;
}
.about:after{
    display: inherit;
    background: inherit;
    height: 150px;
    z-index: -1;
    content: '';
    transform-origin: top left;
    transform: skewY(4deg);
}
.aboutTitle{
    font-size: 4em;
}
.textAbout{
    font-size: 2em;
    padding-top: 70px;
}
/*contact*/
.contact{
    text-align: center;
    padding-top: 30px;
}
.contactTitle{
    font-size: 4em;
}
.textContact{
    font-size: 2em;
    padding-top: 70px;
}
.contact:after{
    display: inherit;
    background: inherit;
    height: 150px;
    z-index: -1;
    content: '';
    transform-origin: top left;
    transform: skewY(4deg);
}
/*footer*/
.name{
    text-align: right;
    padding: 10px;
    padding-top: 230px;
    font-size: small;
    transition: 0.1s ease-in-out;
}
/*home*/
.container{
    padding-top: 150px;
}
.welcome{
    font-size: 4em;
}
.textHome{
    font-size: 2em;
    padding-top: 70px;
}
.slanted:after{
    display: inherit;
    background: inherit;
    height: 150px;
    z-index: -1;
    content: '';
    transform-origin: top left;
    transform: skewY(4deg);
}
.textHome, .welcome, .container, .homeimg, .slanted:after{
    transition: 0.1s ease-in-out;
}
.homeimg{
    border: 2px solid;
}
/*menu*/
.navbar{
    z-index: 1;
}
.navbar-nav{
    float: none;
    text-align: center;
}
.links{
    padding: 5px;
    display: flex;
}
.brand{
    font-size: 1.3em;
}
/*projects*/
.projects{
    text-align: center;
    padding-top: 30px;
}
.projectsTitle{
    font-size: 4em;
}
.textProjects{
    font-size: 2em;
    padding-top: 70px;
}
.projects:after{
    display: inherit;
    background: inherit;
    height: 150px;
    z-index: -1;
    content: '';
    transform-origin: top left;
    transform: skewY(4deg);
}
/*underline*/
.underline{
    display: flex;
    border: 4px solid;
    border-radius: 25px;
    position: absolute;
    width: 100%;
}
/*@media*/
@media only screen and (max-width: 575px){
    .underline{
        display: none;
    }
}
@media only screen and (max-width: 992px){
    .projectsTitle, .aboutTitle, .contactTitle, .welcome{
        font-size: 3em;
    }
    .contact:after, .about:after, .slanted:after, .projects:after{
        height: 100px;
    }
    .container{
        padding-top: 100px;
    }
}
@media only screen and (max-width: 764px){
    .projectsTitle, .aboutTitle, .contactTitle, .welcome{
        font-size: 2.8em;
    }
    .textProjects, .textAbout, .textContact, .textHome{
        font-size: 1.6em;
    }
    .container{
        padding-top: 60px;
    }
}
@media only screen and (max-width: 460px){
    .textContact, .textAbout, .textHome, .textProjects{
        font-size: 0.9em;
        padding-top: 20px;
    }
    .contactTitle, .aboutTitle, .welcome, .projectsTitle{
        font-size: 1.9em;
    }
    .contact:after, .about:after, .slanted:after, .projects:after{
        height: 50px;
    }
    .container{
        padding-top: 50px;
    }
}