.container{
    padding-top: 150px;
}
.welcome{
    font-size: 4em;
}
.textHome{
    font-size: 2em;
    padding-top: 70px;
}
.slanted{
    background: rgb(168, 154, 136);
}
.slanted:after{
    display: inherit;
    background: inherit;
    height: 150px;
    z-index: -1;
    content: '';
    transform-origin: top left;
    transform: skewY(4deg);
}
.textHome, .welcome, .container, .homeimg, .slanted:after{
    transition: 0.1s ease-in-out;
}
.homeimg{
    border: 3px solid rgb(0, 0, 0);
}
@media only screen and (max-width: 992px){
    .container{
        padding-top: 100px;
    }
    .welcome{
        font-size: 3em;
    }
    .slanted:after{
        height: 100px;
    }
}
@media only screen and (max-width: 764px){
    .welcome{
        font-size: 2.8em;
    }
    .container{
        padding-top: 60px;
    }
    .textHome{
        font-size: 1.6em;
    }
}
@media only screen and (max-width: 460px){
    .textHome{
        font-size: 0.9em;
        padding-top: 20px;
    }
    .welcome{
        font-size: 1.9em;
    }
    .container{
        padding-top: 30px;
    }
    .slanted:after{
        height: 50px;
    }
}