$theme-colors: (
    "backg": rgb(168, 154, 136),
    "primary":    blue,
    "secondary":  indigo,
    "success":    green,
    "info":       brown,
    "warning":    yellow,
    "danger":     red,
    "light":      white,
    "dark":       black
);
$link-hover-color:                        theme-color("primary");
$link-hover-decoration:                   none;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./app.css";