$primary: #1A1F23;
$secondary: #819AB1;
$info: #E7EBEE;
$light: #F5F5F5;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "info": $info,
    "light": $light,
);
$body-bg: $light;
$link-hover-color: $primary;
$link-hover-decoration: none;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./app.css";